<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * @author Daniel Martinez <dani.dmd86@gmail.com>
 *
 * @package Dmd
 * @version 1
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"> 
    <default>
        <dmdcheapestproducts>
            <general>
                <category_id>1</category_id>
                <number_of_products>3</number_of_products>
            </general>
        </dmdcheapestproducts>
    </default>
</config>